n8n-workflows/torch-master-workflow.json
{
  "name": "Torch ATL - Master Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "torch-master",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "master-webhook",
      "name": "Master Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "torch-master-orchestration",
      "notes": "Central entry point for all TORCH events"
    },
    {
      "parameters": {
        "jsCode": "// Route incoming events to appropriate workflows\nconst event = $input.first().json;\n\n// Validate event structure\nif (!event.eventType) {\n  throw new Error('Missing eventType in request');\n}\n\nconst validEventTypes = [\n  'member.created',\n  'member.updated',\n  'member.suspended',\n  'member.reactivated',\n  'booking.created',\n  'booking.updated',\n  'booking.cancelled',\n  'booking.completed',\n  'payment.success',\n  'payment.failed',\n  'guest.registered',\n  'feedback.submitted',\n  'facility.issue',\n  'manual.trigger'\n];\n\nif (!validEventTypes.includes(event.eventType)) {\n  throw new Error(`Invalid eventType: ${event.eventType}. Valid types: ${validEventTypes.join(', ')}`);\n}\n\n// Determine target workflow based on event type\nconst eventCategory = event.eventType.split('.')[0];\nconst eventAction = event.eventType.split('.')[1];\n\nconst workflowMapping = {\n  'member': {\n    workflow: 'torch-member-onboarding',\n    webhookPath: 'torch-new-member'\n  },\n  'booking': {\n    workflow: 'torch-booking-flow',\n    webhookPath: event.eventType === 'booking.completed' ? 'torch-session-complete' : 'torch-new-booking'\n  },\n  'payment': {\n    workflow: 'torch-billing-automation',\n    webhookPath: 'torch-payment-event'\n  },\n  'guest': {\n    workflow: 'torch-booking-flow',\n    webhookPath: 'torch-guest-registration'\n  },\n  'feedback': {\n    workflow: 'torch-feedback-processor',\n    webhookPath: 'torch-feedback'\n  },\n  'facility': {\n    workflow: 'torch-daily-ops',\n    webhookPath: 'torch-facility-event'\n  },\n  'manual': {\n    workflow: event.targetWorkflow || 'torch-daily-ops',\n    webhookPath: event.targetWebhook || 'torch-manual-trigger'\n  }\n};\n\nconst routing = workflowMapping[eventCategory];\n\nreturn {\n  eventId: `evt_${Date.now().toString(36)}`,\n  eventType: event.eventType,\n  eventCategory,\n  eventAction,\n  targetWorkflow: routing.workflow,\n  targetWebhook: routing.webhookPath,\n  payload: event.data || event.payload || {},\n  metadata: {\n    source: event.source || 'unknown',\n    timestamp: new Date().toISOString(),\n    correlationId: event.correlationId || `corr_${Date.now().toString(36)}`,\n    priority: event.priority || 'normal'\n  },\n  retryCount: 0,\n  maxRetries: 3\n};"
      },
      "id": "route-event",
      "name": "Route Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.torchatl.com/internal/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "log-event",
      "name": "Log Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-member-event",
              "leftValue": "={{ $json.eventCategory }}",
              "rightValue": "member",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-member",
      "name": "Member Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-booking-event",
              "leftValue": "={{ $json.eventCategory }}",
              "rightValue": "booking",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-booking",
      "name": "Booking Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-payment-event",
              "leftValue": "={{ $json.eventCategory }}",
              "rightValue": "payment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-payment",
      "name": "Payment Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 600]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "torch-member-onboarding",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-member-workflow",
      "name": "Execute Member Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "torch-booking-flow",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-booking-workflow",
      "name": "Execute Booking Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "torch-billing-automation",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-billing-workflow",
      "name": "Execute Billing Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1130, 600]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "torch-daily-ops",
          "mode": "name"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-ops-workflow",
      "name": "Execute Daily Ops Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1130, 800]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from sub-workflow\nconst input = $input.first().json;\nconst routingInfo = $('Route Event').first().json;\n\nreturn {\n  success: true,\n  eventId: routingInfo.eventId,\n  eventType: routingInfo.eventType,\n  processedBy: routingInfo.targetWorkflow,\n  result: input,\n  processedAt: new Date().toISOString()\n};"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.torchatl.com/internal/events/{{ $('Route Event').first().json.eventId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"result\": {{ JSON.stringify($json) }},\n  \"completedAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-event-status",
      "name": "Update Event Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "health-check-trigger",
      "name": "Hourly Health Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 1000],
      "notes": "Runs every hour to check system health"
    },
    {
      "parameters": {
        "jsCode": "// Perform health checks on all TORCH workflows\nconst workflows = [\n  { name: 'torch-member-onboarding', critical: true },\n  { name: 'torch-booking-flow', critical: true },\n  { name: 'torch-billing-automation', critical: true },\n  { name: 'torch-daily-ops', critical: false }\n];\n\nconst checks = [\n  { name: 'API Connectivity', endpoint: 'https://api.torchatl.com/health' },\n  { name: 'Database', endpoint: 'https://api.torchatl.com/health/db' },\n  { name: 'Email Service', endpoint: 'https://api.torchatl.com/health/email' },\n  { name: 'SMS Service', endpoint: 'https://api.torchatl.com/health/sms' },\n  { name: 'Payment Gateway', endpoint: 'https://api.torchatl.com/health/payments' }\n];\n\nreturn {\n  checkTime: new Date().toISOString(),\n  workflows,\n  healthChecks: checks\n};"
      },
      "id": "prepare-health-checks",
      "name": "Prepare Health Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 1000]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.torchatl.com/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-api-health",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 1000],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Compile health check results\nconst apiHealth = $input.first().json;\nconst isHealthy = apiHealth.status === 'healthy' || apiHealth.status === 200;\n\nconst result = {\n  timestamp: new Date().toISOString(),\n  overallStatus: isHealthy ? 'healthy' : 'degraded',\n  services: {\n    api: {\n      status: isHealthy ? 'up' : 'down',\n      responseTime: apiHealth.responseTime || null,\n      lastChecked: new Date().toISOString()\n    },\n    database: apiHealth.database || { status: 'unknown' },\n    email: apiHealth.email || { status: 'unknown' },\n    sms: apiHealth.sms || { status: 'unknown' },\n    payments: apiHealth.payments || { status: 'unknown' }\n  },\n  alerts: []\n};\n\n// Generate alerts for any issues\nif (!isHealthy) {\n  result.alerts.push({\n    severity: 'critical',\n    message: 'API service is not responding',\n    timestamp: new Date().toISOString()\n  });\n}\n\nObject.entries(result.services).forEach(([service, data]) => {\n  if (data.status === 'down' || data.status === 'error') {\n    result.alerts.push({\n      severity: 'high',\n      message: `${service} service is down`,\n      timestamp: new Date().toISOString()\n    });\n  }\n});\n\nreturn result;"
      },
      "id": "compile-health-results",
      "name": "Compile Health Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.alerts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-for-alerts",
      "name": "Any Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 1000]
    },
    {
      "parameters": {
        "channel": "#torch-alerts",
        "text": "=:rotating_light: *TORCH System Health Alert*\n\n*Status:* {{ $json.overallStatus.toUpperCase() }}\n*Time:* {{ $json.timestamp }}\n\n*Alerts:*\n{{ $json.alerts.map(a => `• [${a.severity.toUpperCase()}] ${a.message}`).join('\\n') }}\n\nPlease investigate immediately.",
        "otherOptions": {}
      },
      "id": "send-health-alert",
      "name": "Send Health Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1350, 900],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "TORCH Slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.torchatl.com/internal/health-logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "log-health-check",
      "name": "Log Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 1100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "weekly-report-trigger",
      "name": "Weekly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 1300],
      "notes": "Runs every Sunday at midnight"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.torchatl.com/internal/analytics/weekly",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-weekly-analytics",
      "name": "Get Weekly Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 1300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compile weekly report\nconst data = $input.first().json;\nconst now = new Date();\nconst weekStart = new Date(now.setDate(now.getDate() - 7));\nconst weekEnd = new Date();\n\nreturn {\n  reportPeriod: {\n    start: weekStart.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }),\n    end: weekEnd.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })\n  },\n  members: {\n    total: data.totalMembers || 0,\n    new: data.newMembers || 0,\n    churned: data.churnedMembers || 0,\n    active: data.activeMembers || 0\n  },\n  bookings: {\n    total: data.totalBookings || 0,\n    completed: data.completedBookings || 0,\n    cancelled: data.cancelledBookings || 0,\n    noShows: data.noShows || 0,\n    utilizationRate: data.utilizationRate || 0\n  },\n  revenue: {\n    total: data.totalRevenue || 0,\n    membership: data.membershipRevenue || 0,\n    overage: data.overageRevenue || 0,\n    average: data.averageRevenue || 0\n  },\n  engagement: {\n    averageRating: data.averageRating || 0,\n    feedbackCount: data.feedbackCount || 0,\n    repeatBookings: data.repeatBookings || 0\n  },\n  topMembers: data.topMembers || [],\n  popularSpaces: data.popularSpaces || [],\n  insights: data.insights || []\n};"
      },
      "id": "compile-weekly-report",
      "name": "Compile Weekly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 1300]
    },
    {
      "parameters": {
        "fromEmail": "reports@torchatl.com",
        "toEmail": "joi@torchatl.com",
        "subject": "TORCH ATL Weekly Report - {{ $json.reportPeriod.start }} to {{ $json.reportPeriod.end }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: linear-gradient(135deg, #FF6B35 0%, #F7931E 100%); padding: 40px; text-align: center; }\n    .header h1 { color: white; margin: 0; }\n    .content { padding: 30px; max-width: 700px; margin: 0 auto; }\n    .metric-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 30px 0; }\n    .metric-card { background: #f8f8f8; border-radius: 8px; padding: 25px; text-align: center; }\n    .metric-value { font-size: 36px; font-weight: bold; color: #FF6B35; }\n    .metric-label { color: #666; font-size: 14px; text-transform: uppercase; }\n    .section { margin: 30px 0; }\n    .section h2 { color: #333; border-bottom: 2px solid #FF6B35; padding-bottom: 10px; }\n    table { width: 100%; border-collapse: collapse; margin: 15px 0; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #eee; }\n    th { background: #f8f8f8; font-weight: bold; }\n    .insight { background: #E3F2FD; border-left: 4px solid #2196F3; padding: 15px; margin: 10px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Weekly Performance Report</h1>\n    <p style=\"color: rgba(255,255,255,0.9);\">{{ $json.reportPeriod.start }} - {{ $json.reportPeriod.end }}</p>\n  </div>\n  \n  <div class=\"content\">\n    <div class=\"metric-grid\">\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">{{ $json.bookings.total }}</div>\n        <div class=\"metric-label\">Total Bookings</div>\n      </div>\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">${{ $json.revenue.total.toLocaleString() }}</div>\n        <div class=\"metric-label\">Revenue</div>\n      </div>\n      <div class=\"metric-card\">\n        <div class=\"metric-value\">{{ $json.members.new }}</div>\n        <div class=\"metric-label\">New Members</div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <h2>Member Summary</h2>\n      <table>\n        <tr><td>Total Members</td><td><strong>{{ $json.members.total }}</strong></td></tr>\n        <tr><td>Active This Week</td><td><strong>{{ $json.members.active }}</strong></td></tr>\n        <tr><td>New Sign-ups</td><td><strong>{{ $json.members.new }}</strong></td></tr>\n        <tr><td>Churned</td><td><strong>{{ $json.members.churned }}</strong></td></tr>\n      </table>\n    </div>\n    \n    <div class=\"section\">\n      <h2>Booking Performance</h2>\n      <table>\n        <tr><td>Completed Sessions</td><td><strong>{{ $json.bookings.completed }}</strong></td></tr>\n        <tr><td>Cancelled</td><td><strong>{{ $json.bookings.cancelled }}</strong></td></tr>\n        <tr><td>No-Shows</td><td><strong>{{ $json.bookings.noShows }}</strong></td></tr>\n        <tr><td>Utilization Rate</td><td><strong>{{ $json.bookings.utilizationRate }}%</strong></td></tr>\n      </table>\n    </div>\n    \n    <div class=\"section\">\n      <h2>Revenue Breakdown</h2>\n      <table>\n        <tr><td>Membership Revenue</td><td><strong>${{ $json.revenue.membership.toLocaleString() }}</strong></td></tr>\n        <tr><td>Overage Charges</td><td><strong>${{ $json.revenue.overage.toLocaleString() }}</strong></td></tr>\n        <tr><td>Average per Booking</td><td><strong>${{ $json.revenue.average.toFixed(2) }}</strong></td></tr>\n      </table>\n    </div>\n    \n    <div class=\"section\">\n      <h2>Customer Satisfaction</h2>\n      <table>\n        <tr><td>Average Rating</td><td><strong>{{ $json.engagement.averageRating.toFixed(1) }} / 5.0</strong></td></tr>\n        <tr><td>Feedback Received</td><td><strong>{{ $json.engagement.feedbackCount }}</strong></td></tr>\n        <tr><td>Repeat Bookings</td><td><strong>{{ $json.engagement.repeatBookings }}</strong></td></tr>\n      </table>\n    </div>\n    \n    {{ $json.insights.length > 0 ? '<div class=\"section\"><h2>Key Insights</h2>' + $json.insights.map(i => `<div class=\"insight\">${i}</div>`).join('') + '</div>' : '' }}\n    \n    <p style=\"text-align: center; margin-top: 40px;\">\n      <a href=\"https://torchatl.com/admin/analytics\" style=\"display: inline-block; background: #FF6B35; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold;\">View Full Dashboard</a>\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-weekly-report",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 1300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "TORCH SMTP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "torch-error-handler",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "error-webhook",
      "name": "Error Handler Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 1600],
      "webhookId": "torch-error-handler",
      "notes": "Receives errors from other workflows"
    },
    {
      "parameters": {
        "jsCode": "// Process and categorize error\nconst error = $input.first().json;\n\nconst severity = categorizeError(error);\nconst shouldAlert = severity === 'critical' || severity === 'high';\n\nreturn {\n  errorId: `err_${Date.now().toString(36)}`,\n  timestamp: new Date().toISOString(),\n  workflow: error.workflow || 'unknown',\n  node: error.node || 'unknown',\n  message: error.message || 'Unknown error',\n  stack: error.stack || null,\n  severity,\n  shouldAlert,\n  context: error.context || {},\n  correlationId: error.correlationId || null\n};\n\nfunction categorizeError(err) {\n  const message = (err.message || '').toLowerCase();\n  \n  if (message.includes('payment') || message.includes('billing')) {\n    return 'critical';\n  }\n  if (message.includes('database') || message.includes('connection')) {\n    return 'critical';\n  }\n  if (message.includes('authentication') || message.includes('unauthorized')) {\n    return 'high';\n  }\n  if (message.includes('timeout') || message.includes('rate limit')) {\n    return 'medium';\n  }\n  return 'low';\n}"
      },
      "id": "process-error",
      "name": "Process Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 1600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-alert",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-should-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 1600]
    },
    {
      "parameters": {
        "channel": "#torch-alerts",
        "text": "=:x: *Workflow Error Alert*\n\n*Severity:* {{ $json.severity.toUpperCase() }}\n*Workflow:* {{ $json.workflow }}\n*Node:* {{ $json.node }}\n*Error ID:* {{ $json.errorId }}\n\n*Message:*\n```{{ $json.message }}```\n\n*Time:* {{ $json.timestamp }}\n\nPlease investigate immediately.",
        "otherOptions": {}
      },
      "id": "send-error-alert",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 1500],
      "credentials": {
        "slackApi": {
          "id": "slack-credentials",
          "name": "TORCH Slack"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.torchatl.com/internal/errors",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 1700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    }
  ],
  "connections": {
    "Master Webhook": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Event": {
      "main": [
        [
          {
            "node": "Member Event?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Booking Event?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Payment Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Member Event?": {
      "main": [
        [
          {
            "node": "Execute Member Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Booking Event?": {
      "main": [
        [
          {
            "node": "Execute Booking Workflow",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Payment Event?": {
      "main": [
        [
          {
            "node": "Execute Billing Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Daily Ops Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Member Workflow": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Booking Workflow": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Billing Workflow": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Daily Ops Workflow": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Update Event Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Health Check": {
      "main": [
        [
          {
            "node": "Prepare Health Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Health Checks": {
      "main": [
        [
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Compile Health Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Health Results": {
      "main": [
        [
          {
            "node": "Any Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Issues?": {
      "main": [
        [
          {
            "node": "Send Health Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Health Alert": {
      "main": [
        [
          {
            "node": "Log Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Trigger": {
      "main": [
        [
          {
            "node": "Get Weekly Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weekly Analytics": {
      "main": [
        [
          {
            "node": "Compile Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Weekly Report": {
      "main": [
        [
          {
            "node": "Send Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler Webhook": {
      "main": [
        [
          {
            "node": "Process Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Error": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Alert": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "torch-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "name": "torch-atl",
      "id": "tag-torch-atl"
    },
    {
      "name": "master",
      "id": "tag-master"
    },
    {
      "name": "orchestration",
      "id": "tag-orchestration"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2026-02-09T12:00:00.000Z",
  "versionId": "1"
}
