n8n-workflows/torch-booking-flow.json
{
  "name": "Torch ATL - Booking Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "torch-new-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "booking-webhook",
      "name": "New Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "torch-booking-flow"
    },
    {
      "parameters": {
        "jsCode": "// Process and validate booking data\nconst booking = $input.first().json;\n\n// Generate booking ID\nconst bookingId = `BK-${Date.now().toString(36).toUpperCase()}`;\n\n// Calculate duration in hours\nconst startTime = new Date(booking.startDateTime);\nconst endTime = new Date(booking.endDateTime);\nconst durationHours = (endTime - startTime) / (1000 * 60 * 60);\n\n// Format dates for display\nconst options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };\nconst timeOptions = { hour: 'numeric', minute: '2-digit', hour12: true };\n\nreturn {\n  bookingId,\n  memberId: booking.memberId,\n  memberName: booking.memberName,\n  memberEmail: booking.memberEmail,\n  memberPhone: booking.memberPhone,\n  spaceType: booking.spaceType || 'Main Studio',\n  startDateTime: booking.startDateTime,\n  endDateTime: booking.endDateTime,\n  startDateFormatted: startTime.toLocaleDateString('en-US', options),\n  startTimeFormatted: startTime.toLocaleTimeString('en-US', timeOptions),\n  endTimeFormatted: endTime.toLocaleTimeString('en-US', timeOptions),\n  durationHours,\n  eventType: booking.eventType || 'General',\n  expectedGuests: booking.expectedGuests || 0,\n  specialRequirements: booking.specialRequirements || '',\n  createdAt: new Date().toISOString(),\n  status: 'pending_validation'\n};"
      },
      "id": "process-booking",
      "name": "Process Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.torchatl.com/internal/members/{{ $json.memberId }}/hours",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-member-hours",
      "name": "Get Member Hours",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate booking against member hours\nconst booking = $input.first().json;\nconst memberHours = $('Get Member Hours').first().json;\n\nconst monthlyAllowance = memberHours.monthlyHours || 8;\nconst hoursUsed = memberHours.hoursUsed || 0;\nconst hoursRemaining = monthlyAllowance - hoursUsed;\nconst requestedHours = booking.durationHours;\n\nconst isValid = requestedHours <= hoursRemaining;\nconst requiresOverage = requestedHours > hoursRemaining && hoursRemaining > 0;\nconst overageHours = requiresOverage ? requestedHours - hoursRemaining : 0;\nconst overageRate = memberHours.overageRate || 75; // $ per hour\nconst overageCost = overageHours * overageRate;\n\nreturn {\n  ...booking,\n  validation: {\n    isValid: isValid || requiresOverage,\n    monthlyAllowance,\n    hoursUsed,\n    hoursRemaining,\n    requestedHours,\n    requiresOverage,\n    overageHours,\n    overageRate,\n    overageCost,\n    message: isValid \n      ? 'Booking approved within monthly allowance'\n      : requiresOverage \n        ? `Booking requires ${overageHours} overage hours at $${overageRate}/hr ($${overageCost} total)`\n        : 'Insufficient hours remaining'\n  },\n  status: (isValid || requiresOverage) ? 'validated' : 'rejected'\n};"
      },
      "id": "validate-hours",
      "name": "Validate Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.validation.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Is Booking Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "fromEmail": "bookings@torchatl.com",
        "toEmail": "={{ $json.memberEmail }}",
        "subject": "Booking Confirmed: {{ $json.spaceType }} on {{ $json.startDateFormatted }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: linear-gradient(135deg, #FF6B35 0%, #F7931E 100%); padding: 30px; text-align: center; }\n    .header h1 { color: white; margin: 0; font-size: 28px; }\n    .content { padding: 30px; max-width: 600px; margin: 0 auto; }\n    .booking-details { background: #f8f8f8; border-radius: 8px; padding: 25px; margin: 20px 0; }\n    .detail-row { display: flex; justify-content: space-between; padding: 10px 0; border-bottom: 1px solid #eee; }\n    .detail-label { color: #666; }\n    .detail-value { font-weight: bold; color: #333; }\n    .important-notice { background: #FFF3CD; border-left: 4px solid #FF6B35; padding: 15px; margin: 20px 0; }\n    .cta-button { display: inline-block; background: #FF6B35; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; margin: 10px 5px; }\n    .footer { background: #333; color: #999; padding: 20px; text-align: center; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Booking Confirmed!</h1>\n  </div>\n  <div class=\"content\">\n    <p>Hi {{ $json.memberName }},</p>\n    <p>Your booking at TORCH ATL has been confirmed. Here are your details:</p>\n    \n    <div class=\"booking-details\">\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Booking ID</span>\n        <span class=\"detail-value\">{{ $json.bookingId }}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Space</span>\n        <span class=\"detail-value\">{{ $json.spaceType }}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Date</span>\n        <span class=\"detail-value\">{{ $json.startDateFormatted }}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Time</span>\n        <span class=\"detail-value\">{{ $json.startTimeFormatted }} - {{ $json.endTimeFormatted }}</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Duration</span>\n        <span class=\"detail-value\">{{ $json.durationHours }} hours</span>\n      </div>\n      <div class=\"detail-row\">\n        <span class=\"detail-label\">Expected Guests</span>\n        <span class=\"detail-value\">{{ $json.expectedGuests }}</span>\n      </div>\n    </div>\n    \n    <div class=\"important-notice\">\n      <strong>Important Reminders:</strong>\n      <ul>\n        <li>Guest list must be submitted 48 hours before your session</li>\n        <li>Arrive 15 minutes early for setup</li>\n        <li>Review our space guidelines in your member portal</li>\n      </ul>\n    </div>\n    \n    <p>\n      <a href=\"https://torchatl.com/bookings/{{ $json.bookingId }}\" class=\"cta-button\">View Booking</a>\n      <a href=\"https://torchatl.com/bookings/{{ $json.bookingId }}/guests\" class=\"cta-button\">Submit Guest List</a>\n    </p>\n    \n    <p>Need to make changes? Contact us at bookings@torchatl.com or reply to this email.</p>\n    \n    <p>See you soon!<br>\n    <strong>The TORCH ATL Team</strong></p>\n  </div>\n  <div class=\"footer\">\n    <p>TORCH ATL | Atlanta's Premier Creative Event Space</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1350, 260],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "TORCH SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.torchatl.com/internal/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...JSON.parse(JSON.stringify($json)), status: 'confirmed' }) }}",
        "options": {}
      },
      "id": "store-booking",
      "name": "Store Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-48hr-reminder",
      "name": "Schedule 48hr Reminder Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 700],
      "disabled": true,
      "notes": "This runs daily to check for bookings needing 48hr reminders"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.torchatl.com/internal/bookings/upcoming?hoursAhead=48",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-48hr-bookings",
      "name": "Get Bookings 48hrs Away",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "bookings@torchatl.com",
        "toEmail": "={{ $json.memberEmail }}",
        "subject": "Reminder: Submit Your Guest List - {{ $json.spaceType }} in 48 Hours",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: #FF6B35; padding: 25px; text-align: center; }\n    .header h1 { color: white; margin: 0; font-size: 24px; }\n    .content { padding: 30px; max-width: 600px; margin: 0 auto; }\n    .alert-box { background: #FFF3CD; border: 2px solid #FF6B35; border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center; }\n    .cta-button { display: inline-block; background: #FF6B35; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Guest List Reminder</h1>\n  </div>\n  <div class=\"content\">\n    <p>Hi {{ $json.memberName }},</p>\n    \n    <div class=\"alert-box\">\n      <h2>Your session is in 48 hours!</h2>\n      <p><strong>{{ $json.startDateFormatted }}</strong><br>\n      {{ $json.startTimeFormatted }} - {{ $json.endTimeFormatted }}</p>\n    </div>\n    \n    <p><strong>Please submit your guest list now</strong> to ensure smooth check-in for your attendees.</p>\n    \n    <p>Expected guests: <strong>{{ $json.expectedGuests }}</strong></p>\n    \n    <p style=\"text-align: center;\">\n      <a href=\"https://torchatl.com/bookings/{{ $json.bookingId }}/guests\" class=\"cta-button\">Submit Guest List Now</a>\n    </p>\n    \n    <p>If you've already submitted your guest list, you can ignore this reminder.</p>\n    \n    <p>Questions? Reply to this email or contact us at bookings@torchatl.com</p>\n    \n    <p>Best,<br><strong>The TORCH ATL Team</strong></p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-48hr-reminder",
      "name": "Send 48hr Guest List Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [690, 700],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "TORCH SMTP"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-24hr-reminder",
      "name": "Schedule 24hr Reminder Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 900],
      "disabled": true,
      "notes": "This runs daily to check for bookings needing 24hr reminders"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.torchatl.com/internal/bookings/upcoming?hoursAhead=24",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-24hr-bookings",
      "name": "Get Bookings 24hrs Away",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 900],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "from": "+14045551234",
        "to": "={{ $json.memberPhone }}",
        "message": "TORCH ATL Reminder: Your session is tomorrow!\n\n{{ $json.spaceType }}\n{{ $json.startTimeFormatted }} - {{ $json.endTimeFormatted }}\n\nRemember to arrive 15 mins early. See you soon! 🔥\n\nQuestions? Reply here or call (404) 555-TORCH"
      },
      "id": "send-24hr-sms",
      "name": "Send 24hr SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [690, 900],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials",
          "name": "TORCH Twilio"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "torch-session-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "session-complete-webhook",
      "name": "Session Complete Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 1100],
      "webhookId": "torch-session-complete"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.torchatl.com/internal/members/{{ $json.memberId }}/hours",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addHours\": {{ $json.actualDuration || $json.durationHours }},\n  \"bookingId\": \"{{ $json.bookingId }}\",\n  \"sessionDate\": \"{{ $json.startDateTime }}\"\n}",
        "options": {}
      },
      "id": "update-hours-used",
      "name": "Update Hours Used",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 1100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "torch-api-credentials",
          "name": "TORCH Internal API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "feedback@torchatl.com",
        "toEmail": "={{ $json.memberEmail }}",
        "subject": "How was your TORCH ATL experience?",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; color: #333; }\n    .header { background: linear-gradient(135deg, #FF6B35 0%, #F7931E 100%); padding: 30px; text-align: center; }\n    .header h1 { color: white; margin: 0; }\n    .content { padding: 30px; max-width: 600px; margin: 0 auto; text-align: center; }\n    .rating-container { margin: 30px 0; }\n    .rating-link { display: inline-block; font-size: 36px; text-decoration: none; margin: 0 5px; }\n    .cta-button { display: inline-block; background: #FF6B35; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; margin: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Thank You for Visiting!</h1>\n  </div>\n  <div class=\"content\">\n    <p>Hi {{ $json.memberName }},</p>\n    \n    <p>We hope your session at TORCH ATL was amazing! We'd love to hear about your experience.</p>\n    \n    <div class=\"rating-container\">\n      <p><strong>How would you rate your experience?</strong></p>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}?rating=5\" class=\"rating-link\">⭐</a>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}?rating=4\" class=\"rating-link\">⭐</a>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}?rating=3\" class=\"rating-link\">⭐</a>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}?rating=2\" class=\"rating-link\">⭐</a>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}?rating=1\" class=\"rating-link\">⭐</a>\n    </div>\n    \n    <p>\n      <a href=\"https://torchatl.com/feedback/{{ $json.bookingId }}\" class=\"cta-button\">Leave Detailed Feedback</a>\n    </p>\n    \n    <p>Your feedback helps us improve and serve you better!</p>\n    \n    <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #eee;\">\n    \n    <p><strong>Ready to book your next session?</strong></p>\n    <p>\n      <a href=\"https://torchatl.com/book\" class=\"cta-button\">Book Again</a>\n    </p>\n    \n    <p>Thank you for being part of the TORCH community!</p>\n    \n    <p>Warmly,<br><strong>The TORCH ATL Team</strong></p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-followup-email",
      "name": "Send Post-Session Follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [690, 1100],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "TORCH SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Booking validation failed\",\n  \"details\": {\n    \"message\": \"{{ $json.validation.message }}\",\n    \"hoursRemaining\": {{ $json.validation.hoursRemaining }},\n    \"requestedHours\": {{ $json.validation.requestedHours }}\n  }\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-rejection",
      "name": "Respond Rejection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Booking confirmed\",\n  \"data\": {\n    \"bookingId\": \"{{ $json.bookingId }}\",\n    \"status\": \"confirmed\",\n    \"validation\": {\n      \"hoursUsed\": {{ $json.validation.requestedHours }},\n      \"hoursRemaining\": {{ $json.validation.hoursRemaining - $json.validation.requestedHours }},\n      \"overageApplied\": {{ $json.validation.requiresOverage }}\n    }\n  }\n}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Session completed and hours updated\",\n  \"bookingId\": \"{{ $json.bookingId }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-session-complete",
      "name": "Respond Session Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 1100]
    }
  ],
  "connections": {
    "New Booking Webhook": {
      "main": [
        [
          {
            "node": "Process Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Booking Data": {
      "main": [
        [
          {
            "node": "Get Member Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member Hours": {
      "main": [
        [
          {
            "node": "Validate Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Hours": {
      "main": [
        [
          {
            "node": "Is Booking Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Booking Valid?": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        []
      ]
    },
    "Store Booking": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 48hr Reminder Check": {
      "main": [
        [
          {
            "node": "Get Bookings 48hrs Away",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bookings 48hrs Away": {
      "main": [
        [
          {
            "node": "Send 48hr Guest List Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 24hr Reminder Check": {
      "main": [
        [
          {
            "node": "Get Bookings 24hrs Away",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bookings 24hrs Away": {
      "main": [
        [
          {
            "node": "Send 24hr SMS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Complete Webhook": {
      "main": [
        [
          {
            "node": "Update Hours Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Hours Used": {
      "main": [
        [
          {
            "node": "Send Post-Session Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Post-Session Follow-up": {
      "main": [
        [
          {
            "node": "Respond Session Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "torch-error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "name": "torch-atl",
      "id": "tag-torch-atl"
    },
    {
      "name": "bookings",
      "id": "tag-bookings"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2026-02-09T12:00:00.000Z",
  "versionId": "1"
}
